<h1> Edit </h1>

<form action="/posts/<%=@post.id%>" method="POST">
  <label>Edit post</label><br>
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="<%=@post.name%>"><br>
  <input type="text" name="ingredients" value="<%=@post.ingredients%>"><br>
  <input type="text" name="directions" value="<%=@post.directions%>"><br>
  <input type="text" name="cooktime" value="<%=@post.cooktime%>"><br>
  <input type="text" name="chef" value="<%=@post.chef%>"><br>
  <input type="text" name="caption" value="<%=@post.caption%>"><br>
  <input type="submit" value="submit">
</form>

<form action="/posts/<%=@post.id%>/delete" method="POST"><br><br>
  <label>Delete This post</label>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete post">
</form>

<a href="/posts">Cancel</a>
