
<%= current_user.username %>

<a href="/posts/new">Create New post Here</a>

<% @posts.each do |post| %>

  Name:  <%= post.name %>
  Ingredients:  <%= post.ingredients %>
  Directions:  <%= post.directions %>
  Cook Time:  <%= post.cooktime %>
  Chef:  <%= post.chef %>
  Caption:  <%= post.caption %>

  
  <a href="/logout">Logout</a> 
  <a href="/posts/<%= post.id %>/edit">edit</a>

<% end %>
